<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>개발자 커뮤니티 소개</title>
  <link rel="stylesheet" href="/intro.css">
</head>
<body>
  <div class="overlay">
    <div class="content-box">
      <h1>Developer Community</h1>
      <p>이 페이지는 개발자들끼리 모여서 버그 수정에 대한 토론을 하며,<br>
         서로의 관심사를 공유하는 커뮤니티입니다.</p>
         
      <a href="/" class="enter-button">입장하기</a>
    </div>
  </div>
</body>
</html>
